/* write all your css / scss here and will compile to styles.css */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|DM+Serif+Display&display=swap");
*,
.sans-serif {
  font-family: "DM Sans", sans-serif; }

h2,
h4,
h5,
h6,
.serif {
  font-family: "DM Serif Display", serif; }

a.btn {
  text-decoration: none;
  color: currentColor;
  background: #e3f2fd;
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.5em 0.75em;
  transition: background-color 500ms; }
  a.btn:not(:first-child) {
    margin-right: 0.5em; }
  a.btn:hover {
    background: #aad7f9; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%;
    display: block; }
  figure figcaption {
    text-align: center;
    font-size: 0.75em;
    padding: 1em;
    background: #eee; }

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px; }

main {
  padding-bottom: 2em; }

nav {
  border-bottom: 2px solid black; }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 500px) {
      nav ul {
        display: block;
        text-align: right;
        margin: 15px; } }
    nav ul li:not(:first-child)::after {
      content: " \25BE"; }

.post-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }
  @media screen and (max-width: 800px) {
    .post-header {
      display: block;
      padding: 0 15px; } }
  .post-header h1:first-child {
    margin-top: 0; }
  .post-header--title {
    padding-bottom: 1em; }
    .post-header--title h1,
    .post-header--title h2,
    .post-header--title h3 {
      margin: 0; }
  .post-header--meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
    .post-header--meta p {
      color: #1976d2; }
    .post-header--meta .tags {
      justify-self: center; }
  .post-header--more {
    margin-top: 2rem; }
  .post-header--image figure:not(:first-child) {
    margin-top: 1em; }

.post-content {
  padding-top: 1rem;
  border-top: 2px solid currentColor;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem; }
  @media screen and (max-width: 800px) {
    .post-content {
      display: block;
      padding: 0 15px; } }
  .post-content .location h2 {
    margin-top: 1.5em;
    margin-bottom: 0; }
  .post-content .location p {
    margin-top: 0; }
  .post-content .location iframe {
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 100%; }

.post-body div {
  padding-bottom: 1rem; }
  .post-body div:not(:last-child) {
    border-bottom: 2px solid currentColor; }
  @media screen and (max-width: 800px) {
    .post-body div {
      padding-bottom: 1.5rem; }
      .post-body div:last-child {
        border-bottom: 2px solid currentColor !important; } }

.post-sidebar a {
  display: block;
  text-align: center; }

.post-sidebar #current {
  margin-top: 2rem; }
  .post-sidebar #current article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1em;
    padding-bottom: 1em; }
    .post-sidebar #current article:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .post-sidebar #current article figure {
      align-self: center; }
    .post-sidebar #current article .event-info {
      align-self: center;
      padding: 1em; }
      .post-sidebar #current article .event-info p {
        margin: 0;
        font-weight: bold; }

footer {
  text-align: center;
  border-top: 2px solid currentColor; }
