body {
  background: #C8CAC8; }

.container {
  background: #DAD5D7;
  box-sizing: border-box;
  height: 80vh;
  width: 50vh;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(5px, 12vw));
  grid-template-rows: repeat(13, minmax(5px, 1fr));
  grid-gap: 1vh;
  padding: 0 1vw 1vw 1vw; }

.item {
  background: #EB8B70;
  grid-row: span 6; }

.item:nth-child(1) {
  grid-column-start: 1; }

.item:nth-child(2) {
  grid-column-start: 2; }

.item:nth-child(3) {
  grid-column-start: 3; }

.item:nth-child(4) {
  grid-column-start: 4; }

.item:nth-child(5) {
  grid-column-start: 5; }

.item:nth-child(6) {
  grid-column-start: 6; }

.item:nth-child(7) {
  grid-column-start: 7; }

.item:nth-child(8) {
  grid-column-start: 8; }

.item:nth-child(9) {
  grid-column-start: 9; }

.item:nth-child(10) {
  grid-column-start: 10; }

.item:nth-child(11) {
  grid-column-start: 11; }

.item:nth-child(12) {
  grid-column-start: 12; }

.item:nth-child(7) {
  grid-row: 2 / 9; }

.item:nth-child(8) {
  grid-row: 4 / 11; }

.item:nth-child(9) {
  grid-row: 7 / 13; }

.item:nth-child(10) {
  grid-row: 6 / 12; }

.item:nth-child(11) {
  grid-row: 3 / 10; }
