body {
  background: Khaki; }

div {
  margin: 25vh auto 45vh auto;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  div h1 {
    color: Khaki;
    font-size: 2rem;
    align-self: center; }
  div::before, div::after {
    width: 50vw;
    /* make same as parent */
    height: 50vh;
    /* make same as parent */
    position: absolute;
    /* needs to be absolute for z-index */
    z-index: -1;
    /* to be below the parent element */
    transition: all 0.2s; }

.one {
  background-color: coral; }
  .one::after, .one::before {
    content: ''; }
  .one::before {
    background: gold; }
  .one::after {
    background: lightgreen; }
  .one:hover::after {
    transform: rotate(7deg);
    margin: -15px; }
  .one:hover::before {
    margin: 15px;
    transform: rotate(2deg) skew(10deg); }

.two {
  background: transparent;
  background: skyblue; }
  .two, .two::after, .two::before {
    width: 50vh;
    /* match height, so it's a perfect circle */
    mix-blend-mode: multiply;
    transition: all .5s; }
  .two h1 {
    transition: all .5s; }
  .two:hover {
    transform: translateY(-25vh); }
  .two:hover, .two:hover::before, .two:hover::after {
    border-radius: 50%; }
  .two:hover h1 {
    margin-top: calc(130vh/3); }
  .two::before, .two::after {
    font-size: 2rem;
    font-weight: 900;
    color: transparent; }
  .two::before {
    content: '::before';
    background: yellow; }
  .two::after {
    content: '::after';
    text-align: right;
    background: hotpink; }
  .two:hover::before {
    transform: translate(-33%, 66%);
    color: black; }
  .two:hover::after {
    transform: translate(33%, 66%);
    color: black; }

.three {
  background: navy;
  transition: all 1s; }
  .three:hover {
    width: 45vw; }
  .three::before, .three::after {
    content: '';
    opacity: 0;
    transition: all 1s; }
  .three::before {
    background: orangered; }
  .three::after {
    background: lightgreen; }
  .three:hover::before {
    animation: threeBefore 1s infinite ease-in-out;
    opacity: 1; }
  .three:hover::after {
    animation: threeAfter 1s infinite ease-in-out;
    opacity: 1; }

@keyframes threeBefore {
  from {
    padding: 10px;
    transform: rotate(5deg); }
  50% {
    padding: 0px;
    transform: rotate(-5deg); }
  to {
    padding: 10px;
    transform: rotate(5deg); } }

@keyframes threeAfter {
  from {
    margin: -20px -15px 0 20px;
    padding: 15px;
    transform: scale(1.025) rotate(-6deg); }
  50% {
    margin: 0 15px 10px -20px;
    padding: 5px;
    transform: scale(1) rotate(10deg); }
  to {
    margin: -20px -15px 0px 20px;
    padding: 15px;
    transform: scale(1.025) rotate(-6deg); } }
